#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

    #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table tr:hover {
        background-color: #ddd;
    }

    #table th {
        width: 45%;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #ddd;
        color: #808080;
    }
    table{
        width: 95%;
    }